 
<h1> Add New Person</h1>

<form>
    <div class="row">
        <div class="form-group ">
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-2"> Name</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="name" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group ">
        <label class="form-label col-md-2"> LastName</label>
        <div class="col-md-2">
            <input class="form-control " id="lastName" />
        </div>
    </div>

    <div class="form-group ">
        <label class="form-label col-md-2"> Age</label>
        <div class="col-md-2">
            <input class="form-control " id="age" />
        </div>
    </div>
 
    <div class="form-group ">
        <label class="form-label col-md-2"> Phone</label>
        <div class="col-md-2">
            <input class="form-control " id="phone" />
        </div>
    </div>

    <div class="form-group ">
        <label class="form-label col-md-2"> Sex</label>
        <div class="col-md-2">
            <input class="form-control " id="sex" />
        </div>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" id="isActive" /> Active?
        </label>
    </div>
    <button id="addPersonButton" class="btn btn-primary">
        Save
    </button>
    <a href="/Index" class="btn btn-secondary"> Cancel</a>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addPersonButton').click(function (e) {
                e.preventDefault();
                var newPerson = {
                    Name: $('#name').val(),
                    LastName: $('#lastName').val(),
                    Age: $('#age').val(),
                    Sex: $('#sex').val() 
                };
                $.ajax({
                    url: 'https://localhost:7084/Customers/AddCustomer',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newPerson),
                    success: function (data) {
                        alert('Customer added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

}



