 
<h1> Customer</h1>
 
 
<a class="btn btn-primary" id="addPersonButton">Crear Cliente</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="peopleTableBody">
        <tr>  <td colspan="4">No Records found</td>  </tr>
    </tbody>
     
</table>

@section Scripts
{
    <script>

        $(document).ready(function () {
            loadPeople();

            $('#addPersonButton').click(function () {
                window.location.href = 'https://localhost:7226/Customers/Create';
            });

            $(document).on('click', '.delete-person', function () {
                var personId = $(this).data('id');
                if (confirm('Are you sure you want to delete this person?')) {
                    $.ajax({
                        url: 'https://localhost:7084/Customers/DeleteCustomer/' + personId,
                        type: 'DELETE',
                        success: function () {
                            alert('Person deleted successfully');
                            loadPeople();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-person', function () {
                var personId = $(this).data('id');
                window.location.href = 'https://localhost:7226/Customers/Edit/' + personId;
            });

        });

        function loadPeople() {
            $.ajax({
                url: 'https://localhost:7084/Customers/GetAllCustomers',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="4">No hay registros</td></tr>';
                    } else {
                        $.each(data, function (index, person) {
                            tableBody += '<tr>' +
                                '<td>' + person.id + '</td>' +
                                '<td>' + person.name + '</td>' +
                                '<td>' + person.lastName + '</td>' +
                                '<td>' +
                                '<a class="btn btn-warning edit-person" data-id="' + person.id + '">Editar</a> ' +
                                '<button class="btn btn-danger delete-person" data-id="' + person.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#peopleTableBody').html(tableBody);

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

    </script>

}

